<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<!-- <link rel="shortcut icon" href="/assets/images/favicon.ico"> -->
	<link rel="stylesheet" href="/assets/css/style.css">

</head>
<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/join">Join</a></li>
			<li><a href="/links">Links</a></li>
			<li><a href="/music">Jam Sessions</a></li>
		</ul>
	</nav>

	{{ content }}
</body>
</html>